@use "../../styles/abstracts/colors";
@use "../../styles/abstracts/mixins";
@use "../../styles/abstracts/variables";

.PageFooter {
  border-top: 1px solid colors.$gray-300;
  background-color: colors.$gray-100;
}

.PageFooterContainer {
  @include mixins.element-width(xl);

  padding-bottom: variables.$default-element-spacing;
  padding-top: variables.$default-element-spacing;
}
