<nav class="nav">
    <div class="nav-container">
        <span {% if page.url == '/' %}class="active"{% endif %}>
            <a class="text-link" href="{{ site.baseurl }}/">Blog</a>
        </span>
        <span class="logo">
            <a href="{{ site.baseurl }}/" aria-label="Erik Samuelsson homepage">
                <img src="/assets/images/logo.svg" alt="Logo of eriksamuelsson.com">
            </a>
        </span>
        <span {% if page.url == '/about/' %}class="active"{% endif %}>
            <a class="text-link" href="{{ '/about' | prepend: site.baseurl }}">About</a>
        </span>
    </div>
</nav>

