.section {
  padding: 2rem 0 0;

  .emp { font-weight: bold; }

  .tag-line { padding: 1rem 0; }

  .sub-title {
    padding: $default-padding/2;
    margin: 0 0;
    text-align: center;
    background-color: #333;
    color: #fff;
  }

  .flex-container {
    display: flex;
    flex-direction: column;

    .flex-item {
      margin-bottom: $default-padding;
      text-align: left;
    }
  }

  @media (min-width: 600px) {
    .tag-line {
      text-align: center;
      padding: 2rem 10%;
    }

    .flex-container {
      flex-direction: row;

      .flex-item {
        padding: 0 $default-padding;
        width: 50%;
      }}
  }
}

#about-me {
  .profile-picture {
    margin: 0 auto;
    width: 80%;
    outline: 3px solid #fff;
    outline-offset: -8px;
  }

  .speed-date {
    padding: 1rem 0 0;
    margin: 0 auto;

    li {
      list-style: none;
      padding: 0;

      &:before {
        padding-right: 4px;
        vertical-align: middle;
        font-size: 1.6rem;
        line-height: 1;
      }
    }

    .question {
      margin: 2rem 0 0.5rem;
      font-weight: bold;

      &:before { content: "🤖"; }
    }

    .answer {
      margin-bottom: 1rem;

      &:before { content: "👉🏻"; }
    }
  }

  @media (min-width: 600px) {
    .profile-picture { width: 35%; }
    .speed-date { padding: 1rem 1rem 0; }
  }
}

#work {
  .flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      padding: 2rem;
      font-size: 3rem;
      color: $default-color;
    }
  }
}

#contact {
  .link-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    font-size: 3rem;

    a {
      @include transition(all .2s ease-out);
      color: $default-color;
      opacity: 1;
      margin: 0 1rem;

      &:hover {
        opacity: .6;
      }
    }
  }
}