@use "abstracts/colors";
@use "abstracts/mixins";
@use "abstracts/variables";

html {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;

  @media screen and (min-width: variables.$breakpoint-s) {
    font-size: 20px;
  }
}

body {
  background-color: colors.$white;
  color: colors.$black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background-color: colors.$black;
    color: colors.$white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: variables.$spacing-6 0 variables.$spacing-4;
  line-height: 1.2;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

p {
  margin: 0 0 variables.$spacing-4;
}

a {
  &:focus-visible {
    @include mixins.focus-style;
  }
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  @include mixins.focus-style;
}
