<div class="section" id="about-me">
    <div class="portrait">
        <img class="profile-picture"
             src="/assets/images/erik-samuelsson.jpg"
             alt="Profile picture of Erik Samuelsson">
    </div>
    <div class="tag-line">
        <p>
            My name is <span class="emp">Erik Samuelsson</span> and I am a professional web developer from
            Malmö, Sweden.
        </p>
        <p>
            I am one of those geeks who sits in front of the computer all day long.
            <span class="emp">Coding</span>, browsing <span class="emp">Reddit</span>, playing online
            <span class="emp">games</span> or drooling over new <span class="emp">tech</span> on blogs. I’ve
            always loved everything IT related  and have been building and tinkering with software since I was a
            kid - especially web related.
        </p>
        <p>
            At university I studied <span class="emp">information systems</span> with focus on
            <span class="emp">informatics</span>.
        </p>
        <p>
            I love <span class="emp">structure</span> and <span class="emp">perfection</span>, both in code and
            in visual elements. I can spend days just configuring the color theme in my terminal to be the
            sexiest ever. Occasionally I have to leave restaurants if I find out they’ve written the menu in
            <span class="emp">Comic Sans</span>.
        </p>
    </div>
    <div class="speed-date-wrapper">
        <h2 class="sub-title">The best questions from my latest speed date</h2>
        <ul class="speed-date">
            <li class="question">
                Hello, Erik! You look like a really nice person, who are you?
            </li>
            <li class="answer">
                Ohh, thank you! I'm actually a normal guy. Originally I come from a town called Halmstad but
                moved to the Malmö area to study and now I'm stuck here. I recently turned 30 and I don't say no
                to a nice burger or to play some Pokémon GO on my iPhone.
            </li>

            <li class="question">
                That's nice! Can you tell me your darkest secret?
            </li>
            <li class="answer">
                Ehh, well... I once told a waiter at a restaurant I had an allergy so I got that delicious
                halloumi burger instead.
            </li>

            <li class="question">
                Wow, that's insanely clever! Are you a Mensa member or what?
            </li>
            <li class="answer">
                Actually I am. I've been a member of Mensa Sweden since 2012 after doing a supervised test where
                I scored in the 99th percentile.
            </li>

            <li class="question">
                Cool! So you like science and stuff then?
            </li>
            <li class="answer">
                Absolutely! For example a world free from religion is the most beautiful thing I can imagine.
                I’m an atheist and think that a society influenced or shaped around something without
                scientifically proven facts is both illogical and sad.
            </li>

            <li class="question">
                Sounds reasonably. So what do you do when you're not working?
            </li>
            <li class="answer">
                I actually spend a lot of time coding at home as well, learning new stuff and techniques. I also
                play some online games with friends or hitting the gym. You know, beach 2025. Another hobby of
                mine is using and building mechanical keyboards.
            </li>
        </ul>
    </div>
</div>