<div class="section" id="contact">
    <h2 class="sub-title">Where you can find me and 🔥 stuff I've made</h2>
    <p class="tag-line">
        If you have any ideas, want to collaborate or just chat a little, you are more than welcome to
        contact me. Just choose your preferred media and fire away.
    </p>
    <div class="link-container">
        <a href="mailto:hello@eriksamuelsson.com?subject=Hello%20awesome">
            <i class="fas fa-envelope-open"></i>
        </a>
        <a href="https://twitter.com/ErikSamuelsson">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/eriksamuelsson/">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/samuelsson">
            <i class="fab fa-github"></i>
        </a>
    </div>
</div>