<div class="section" id="work">
    <div class="section-content">
        <h2 class="sub-title">My work and skills</h2>

        <p class="tag-line work-intro">
            I'm a <span class="emp">front-end developer</span> at heart interested in creating
            <span class="emp">good UI/UX</span> for the web with <span class="emp">pixel perfection</span> shooting
            through the roof. I love <span class="emp">structure</span> and <span class="emp">re-usability</span>
            and believe the code should look as good as the site itself. I have worked
            <span class="emp">full-stack</span> a lot and as long as I have a <span class="emp">Mac</span> with an
            open <span class="emp">terminal window</span> I'm good to go.
        </p>

        <div class="flex-container">
            <div class="flex-item">
                <i class="fab fa-js-square"></i>
                <div>
                    There is no doubt <span class="emp">JavaScript</span> is my favorite programming language. I've
                    developed applications for the <span class="emp">back-end</span> with NodeJS but mostly for the
                    browser, the <span class="emp">front-end</span>. Of course
                    <span class="emp">Vanilla JS</span> but also frameworks and libraries such as
                    <span class="emp">Angular</span>, <span class="emp">Vue</span> and
                    <span class="emp">React</span>. I also run across legacy code with
                    <span class="emp">AngularJS</span> and <span class="emp">jQuery</span>. On the opposite side I
                    love tinkering with <span class="emp">TypeScript</span>,
                    <span class="emp">module bundlers</span>, <span class="emp">package managers</span> and
                    <span class="emp">task runners</span>, just to mention a few. I could probably keep listing for
                    hours.
                </div>
            </div>

            <div class="flex-item">
                <i class="fab fa-html5"></i>
                <div>
                    Listing <span class="emp">HTML</span> as a skill might be redundant information because all web
                    developers know HTML, right? I disagree because I’ve seen many cases where the HTML is a mess
                    with no <span class="emp">clear structure</span> or <span class="emp">coherence</span>. This
                    includes <span class="emp">semantic elements</span> such as <span class="emp">articles</span>,
                    <span class="emp">asides</span> and <span class="emp">sections</span> but also a lack of
                    <span class="emp">accessibility</span> in the code. Areas where <span class="emp">SEO</span>
                    could be boosted and improving <span class="emp">readability</span> for all visitors.
                </div>
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                <i class="fab fa-css3-alt"></i>
                <div>
                    When I said that I’ve seen a lot of cases where the HTML is a mess, don’t get me started on the
                    <span class="emp">CSS</span>. This is an area where I have
                    <span class="emp">a lot of knowledge</span> and my love for
                    <span class="emp">pixel perfection</span> makes the <span class="emp">styling</span> of all web
                    sites awesome. Of course I also write the styling in <span class="emp">Less</span> or
                    <span class="emp">Sass/SCSS</span> instead of normal CSS if applicable. If there is no
                    <span class="emp">style guide</span> present let’s create one... or
                    why not accompanied with a <span class="emp">component library</span> to make it grow into a
                    complete <span class="emp">design system</span> later on.
                </div>
            </div>

            <div class="flex-item">
                <i class="fab fa-git-square"></i>
                <div>
                    Let’s put all released versions into their own zip folder and place them on an external drive
                    shared across all project members... or not. Call me crazy but I really like typing git commands
                    in the terminal. <span class="emp">Force push to master</span> and
                    <span class="emp">reverting commits on origin</span>. Projects with good guidelines for using
                    version control with <span class="emp">feature branches</span> and
                    <span class="emp">pull requests</span> makes our lives so much better. I’m
                    using git for a lot more than just versioning web projects. For example I use it to
                    <span class="emp">share dotfiles</span> and preferences across multiple computers. A scheduled
                    script makes it all automated and my settings are always up-to-date wherever I work.
                </div>
            </div>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                <i class="fab fa-linux"></i>
                <div>
                    My biggest achievement in life was when I learned how to <span class="emp">quit Vim</span>. I
                    think working on Linux servers is <span class="emp">a lot of fun</span> (Windows is the
                    opposite). Everything is often so <span class="emp">light weight</span> with
                    <span class="emp">high stability</span> and you always have control when writing terminal
                    commands. This includes setting up <span class="emp">web servers</span> such as
                    <span class="emp">Apache</span> and <span class="emp">Nginx</span> with
                    <span class="emp">SSL certificates</span>, configure <span class="emp">firewalls</span>, set up
                    <span class="emp">Cron jobs</span> or my favorite: writing cool
                    <span class="emp">bash scripts</span>.
                </div>
            </div>

            <div class="flex-item">
                <i class="fas fa-ruler-combined"></i>
                <div>
                    I’m not always deep down in an SSH session writing rad commands like “ls -la” all day, I also
                    like <span class="emp">designing</span>. I started using <span class="emp">Photoshop</span>
                    many years ago but today with all the different devices and screens I use
                    <span class="emp">vector based</span> programs, such as <span class="emp">Sketch</span> and
                    <span class="emp">Illustrator</span>, instead. That works much better for all the
                    <span class="emp">responsive designs</span> in different resolutions I code and design for.
                    Unfortunately I can spend way to many hours finding the
                    <span class="emp">best shade of blue</span>, my favorite color by the way.
                </div>
            </div>
        </div>
    </div>
</div>