@use "../../styles/abstracts/colors";
@use "../../styles/abstracts/variables";

.SkipToLink {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-100%);
  transition: transform 0.3s;

  color: colors.$white;
  background-color: colors.$black;
  padding: variables.$spacing-2 variables.$spacing-3;
  z-index: 1000;

  &:focus {
    transform: translateX(-50%) translateY(0%);
    text-decoration: none;
  }
}
